{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "8"
      }
    }],
    "@babel/preset-stage-3",
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["babel-plugin-module-resolver", {
      "cwd": "babelrc",
      "root": ["./src"],
      "extensions": [
        ".js",
        ".jsx",
        ".ts",
        ".tsx"
      ]
    }],
    ["@babel/plugin-proposal-decorators", {
      "legacy": true
    }],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "env": {
    "test": {
      "sourceMaps": "inline"
    }
  }
}
